.study-selector-container 
{
    margin: 10px auto;
}
.error {
    color: red;
    margin-left: 5px;
}

label.error {
    display: inline;
}

.card 
{
    min-height: 100px;
}

.row-scroll {
    height: 500px;
    overflow-y: scroll;
}

.btn-gen-patients {

}
.frm-genarate-patient{

}

.display-none {
    display: none;
}