@{
    ViewData["Title"] = "Patients";
    Layout = "~/Views/Shared/_StudyLayout.cshtml";
}

<div class="study-selector-container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <p class="mb-0">Patients Upload</p>
                </div>
                <div class="card-body">
                    <form method="POST" asp-controller="Patient" asp-action="Index" class="form-horizontal" id="contact-form">

                        <div class="form-group row">
                            <label class="control-label col-sm-2" for="email">Sample Size</label>
                            <div class="col-sm-5">
                                <input type="email" class="form-control" id="samplesize" placeholder="Sample Size">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="control-label col-sm-2" for="pwd">Gender:</label>
                            <div class="col-sm-10">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-6" for="MaleWeight">Male(Weight)</label>
                                            <div class="col-sm-12">
                                                <input type="number" class="form-control" id="maleweight">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-6" for="FeMaleWeight">FeMale(Weight)</label>
                                            <div class="col-sm-12">
                                                <input type="number" class="form-control" id="feMaleweight">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="control-label col-sm-2" for="pwd">Age</label>
                            <div class="col-sm-10">
                                <div class="row">

                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label class="control-label col-sm-12" for="age-20-30">(20-30)</label>
                                            <div class="col-sm-12">
                                                <input type="number" class="form-control" id="age-20-30">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label class="control-label col-sm-12" for="age-21-40">(31-40)</label>
                                            <div class="col-sm-12">
                                                <input type="number" class="form-control" id="age-21-30">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label class="control-label col-sm-12" for="age-41-50">(41-50)</label>
                                            <div class="col-sm-12">
                                                <input type="number" class="form-control" id="age-41-50">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label class="control-label col-sm-12" for="age-51-60">(51-60)</label>
                                            <div class="col-sm-12">
                                                <input type="number" class="form-control" id="age-51-60">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label class="control-label col-sm-12" for="age-61-70">(61-70)</label>
                                            <div class="col-sm-12">
                                                <input type="number" class="form-control" id="age-61-70">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default">Genarate Patients</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/js/vm/patient-import.js"></script>
    <script type="text/javascript">
        $(function () {

        });
    </script>
}
