@{
    ViewData["Title"] = "Studies";
    Layout = "~/Views/Shared/StudySelectorLayout.cshtml";
}

<div class="study-selector-container">
    <div class="row mb-4 p-2">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-11">
                    <h2 class="text-info">Studies</h2>
                </div>
                <div class="col-md-1">
                    <a href="#" class="btn btn-outline-info btn-import mt-1"><i class="bi bi-dpad"></i> Import Study</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row studyItems">


        </div>
        <div class="row">
            <input type="file" id="FileUpload" class="fileUpload" style="display: none" />
        </div>

    </div>
</div>


@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/vm/study-selector.js"></script>
    <script type="text/javascript">
        $(function () {
            ctsFunctions.init();
            ctsFunctions.loadStudyData();
        });
    </script>
}