@{
    ViewData["Title"] = "Studies";
    Layout = "~/Views/Shared/StudySelectorLayout.cshtml";
}

<div class="study-selector-container">
    <div class="row mb-4 p-2">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-11">
                    <h2 class="text-info">Studies</h2>
                </div>
                <div class="col-md-1">
                    <a href="#" class="btn btn-outline-info mt-1"><i class="bi bi-dpad"></i> Import Study</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">


            @*for one type group*@
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <p class="mb-0">Endocronology</p>
                    </div>
                    <div class=" card-body">
                        @*card tiles start here*@
                        <div class="row row-scroll">

                            <div class="col-4">
                                <div class="card">
                                    <div class=" card-body">
                                        @*card tiles start here*@
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text mb-1">Proj No: DM103</p>
                                        <p class="card-text">Study Identifire: DM103S4</p>
                                        <div class="row">
                                            <div class="col-md-4">
                                                ID: 113
                                            </div>
                                            <div class="col-md-8">
                                                <a href="#" class="btn btn-info btn-sm float-left">Navigate to Study</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="col-4">
                                <div class="card">
                                    <div class=" card-body">
                                        @*card tiles start here*@
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text mb-1">Proj No: DM103</p>
                                        <p class="card-text">Study Identifire: DM103S4</p>
                                        <div class="row">
                                            <div class="col-md-4">
                                                ID: 113
                                            </div>
                                            <div class="col-md-8">
                                                <a href="#" class="btn btn-info btn-sm float-left">Navigate to Study</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="col-4">
                                <div class="card">
                                    <div class=" card-body">
                                        @*card tiles start here*@
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text mb-1">Proj No: DM103</p>
                                        <p class="card-text">Study Identifire: DM103S4</p>
                                        <div class="row">
                                            <div class="col-md-4">
                                                ID: 113
                                            </div>
                                            <div class="col-md-8">
                                                <a href="#" class="btn btn-info btn-sm float-left">Navigate to Study</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="col-4">
                                <div class="card">
                                    <div class=" card-body">
                                        @*card tiles start here*@
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text mb-1">Proj No: DM103</p>
                                        <p class="card-text">Study Identifire: DM103S4</p>
                                        <div class="row">
                                            <div class="col-md-4">
                                                ID: 113
                                            </div>
                                            <div class="col-md-8">
                                                <a href="#" class="btn btn-info btn-sm float-left">Navigate to Study</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="col-4">
                                <div class="card">
                                    <div class=" card-body">
                                        @*card tiles start here*@
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text mb-1">Proj No: DM103</p>
                                        <p class="card-text">Study Identifire: DM103S4</p>
                                        <div class="row">
                                            <div class="col-md-4">
                                                ID: 113
                                            </div>
                                            <div class="col-md-8">
                                                <a href="#" class="btn btn-info btn-sm float-left">Navigate to Study</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="col-4">
                                <div class="card">
                                    <div class=" card-body">
                                        @*card tiles start here*@
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text mb-1">Proj No: DM103</p>
                                        <p class="card-text">Study Identifire: DM103S4</p>
                                        <div class="row">
                                            <div class="col-md-4">
                                                ID: 113
                                            </div>
                                            <div class="col-md-8">
                                                <a href="#" class="btn btn-info btn-sm float-left">Navigate to Study</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>




                        </div>
                        @*card tiles ends here*@


                    </div>
                </div>
            </div>
            @*Group ends here*@





            @*for one type group*@
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <p class="mb-0">Endocronology</p>
                    </div>
                    <div class=" card-body">
                        @*card tiles start here*@
                        <div class="row row-scroll">

                            <div class="col-4">
                                <div class="card">
                                    <div class=" card-body">
                                        @*card tiles start here*@
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text mb-1">Proj No: DM103</p>
                                        <p class="card-text">Study Identifire: DM103S4</p>
                                        <div class="row">
                                            <div class="col-md-4">
                                                ID: 113
                                            </div>
                                            <div class="col-md-8">
                                                <a href="#" class="btn btn-info btn-sm float-left">Navigate to Study</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="col-4">
                                <div class="card">
                                    <div class=" card-body">
                                        @*card tiles start here*@
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text mb-1">Proj No: DM103</p>
                                        <p class="card-text">Study Identifire: DM103S4</p>
                                        <div class="row">
                                            <div class="col-md-4">
                                                ID: 113
                                            </div>
                                            <div class="col-md-8">
                                                <a href="#" class="btn btn-info btn-sm float-left">Navigate to Study</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="col-4">
                                <div class="card">
                                    <div class=" card-body">
                                        @*card tiles start here*@
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text mb-1">Proj No: DM103</p>
                                        <p class="card-text">Study Identifire: DM103S4</p>
                                        <div class="row">
                                            <div class="col-md-4">
                                                ID: 113
                                            </div>
                                            <div class="col-md-8">
                                                <a href="#" class="btn btn-info btn-sm float-left">Navigate to Study</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="col-4">
                                <div class="card">
                                    <div class=" card-body">
                                        @*card tiles start here*@
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text mb-1">Proj No: DM103</p>
                                        <p class="card-text">Study Identifire: DM103S4</p>
                                        <div class="row">
                                            <div class="col-md-4">
                                                ID: 113
                                            </div>
                                            <div class="col-md-8">
                                                <a href="#" class="btn btn-info btn-sm float-left">Navigate to Study</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="col-4">
                                <div class="card">
                                    <div class=" card-body">
                                        @*card tiles start here*@
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text mb-1">Proj No: DM103</p>
                                        <p class="card-text">Study Identifire: DM103S4</p>
                                        <div class="row">
                                            <div class="col-md-4">
                                                ID: 113
                                            </div>
                                            <div class="col-md-8">
                                                <a href="#" class="btn btn-info btn-sm float-left">Navigate to Study</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="col-4">
                                <div class="card">
                                    <div class=" card-body">
                                        @*card tiles start here*@
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text mb-1">Proj No: DM103</p>
                                        <p class="card-text">Study Identifire: DM103S4</p>
                                        <div class="row">
                                            <div class="col-md-4">
                                                ID: 113
                                            </div>
                                            <div class="col-md-8">
                                                <a href="#" class="btn btn-info btn-sm float-left">Navigate to Study</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>




                        </div>
                        @*card tiles ends here*@


                    </div>
                </div>
            </div>
            @*Group ends here*@






        </div>
    </div>
</div>


@section Scripts
{
    <script src="~/js/vm/study-selector.js"></script>
    <script type="text/javascript">
        $(function () {
            
        });
    </script>
}